* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root div {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  width: 100vw;
  height: 60vh;
  margin: 0 auto;
}

.navigation {
  position: relative;
  width: 100vw;
  height: 6vh;
  margin: 0 auto;
}

nav {
  // TODO: Values must be dynamic bound to a boolean class attribute in the view
  background: dodgerblue linear-gradient(120deg, #30cde2 0, #306efe 100%) no-repeat;
  // background: rgba(255, 255, 255, 0.0);
  color: #fff;
  margin: 0;
  padding: 10px 20px;

  a {
      margin-right: 20px;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 600;
      letter-spacing: 1;
      color: #fff;
  }
}

router-outlet {
  display: none;
}
