<!-- TODO: Extract into navigation component -->
<div class="navigation">
  <nav>
    <a class="ghost-button" routerLink="/one" routerLinkActive="active">One</a>
    <a class="ghost-button" routerLink="/two" routerLinkActive="active">Two</a>
    <a class="ghost-button" routerLink="/three" routerLinkActive="active">Three</a>
  </nav>
</div>
<h1>DIRTY DOG?</h1>
<span>
  <!-- Make into a button with a click handler that changes theme and route -->
  <button type="button" class="ghost-button" routerLink="/two">Next</button>
</span>
